[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/andrew/Desktop/vmdroid]
row=1
col=0

[/home/andrew/Desktop/Downloads]
row=0
col=0

[/home/andrew/Desktop/paypal cashout.pdf]
row=3
col=0

[/home/andrew/Desktop/printlabelsanon]
row=2
col=0

